pipelines/video_analytics/tensorflow/ssd_resnet34/inference/vdms-streamer # Remove this to change submodule
pipelines/language_modeling/pytorch/bert_large/training/dlsa # Remove this to change submodule
pipelines/recommendation/pytorch/recsys/training/analytics-with-python # Remove this to change submodule
pipelines/transfer_learning/tensorflow/resnet50/inference/transfer-learning-inference # Remove this to change submodule
pipelines/transfer_learning/tensorflow/resnet50/training/transfer-learning-training # Remove this to change submodule
pipelines/fab_analytics/classical-ml/uber/inference/wafer-insights # Remove this to change submodule
