---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-merge-conflict
      - id: debug-statements
      - id: end-of-file-fixer
      - id: forbid-submodules
      - id: sort-simple-yaml
      - id: trailing-whitespace
  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        files: |
          (?x)^(
            .*(py|yaml|yml|sh|Dockerfile)|
          )$
        args:
          [
            --license-filepath=.github/license_template.txt,
            --use-current-year,
            --detect-license-in-X-top-lines=40,
            --skip-license-insertion-comment=Copyright,
          ]
  - repo: https://github.com/hadolint/hadolint
    rev: v2.12.1-beta
    hooks:
      - id: hadolint-docker
        args: ["--config", ".github/linters/.hadolint.yaml"]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.38.0
    hooks:
      - id: markdownlint
        args: ["--config", ".github/linters/.markdown-lint.yaml"]
  - repo: https://github.com/koalaman/shellcheck-precommit
    rev: v0.9.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/cisagov/pre-commit-shfmt
    rev: v0.0.2
    hooks:
      - id: shfmt
  - repo: https://github.com/ambv/black
    rev: 23.12.1
    hooks:
      - id: black
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        args: ["--rcfile=.github/linters/.python-lint"]
      - id: pytest-test-runner
        name: pytest-test-runner
        language: system
        types: [python]
        entry: bash -c 'cd test-runner && pytest tests/utest.py -W ignore::UserWarning'
