# Copyright (c) 2024 Intel Corporation
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

include:
  - path: ../python/docker-compose.yaml
services:
  ipex-base:
    build:
      args:
        http_proxy: ${http_proxy}
        https_proxy: ${https_proxy}
        no_proxy: ""
        BASE_IMAGE_NAME: ${BASE_IMAGE_NAME:-ubuntu}
        BASE_IMAGE_TAG: ${BASE_IMAGE_TAG:-22.04}
        GITHUB_RUN_NUMBER: ${GITHUB_RUN_NUMBER:-0}
        IPEX_VERSION: ${IPEX_VERSION:-2.8.0}
        MINIFORGE_VERSION: ${MINIFORGE_VERSION:-Linux-x86_64}
        NO_PROXY: ''
        PACKAGE_OPTION: ${PACKAGE_OPTION:-pip}
        PYTHON_VERSION: ${PYTHON_VERSION:-3.11}
        PYTORCH_VERSION: ${PYTORCH_VERSION:-2.8.0+cpu}
        REGISTRY: ${REGISTRY}
        REPO: ${REPO}
        TORCHAUDIO_VERSION: ${TORCHAUDIO_VERSION:-2.8.0}
        TORCHVISION_VERSION: ${TORCHVISION_VERSION:-0.22.0}
      context: .
      labels:
        dependency.python: ${PYTHON_VERSION:-3.11}
        dependency.python.pip: requirements.txt
        docs: pytorch
        org.opencontainers.base.name: "intel/python:3.11-full"
        org.opencontainers.image.name: "intel/intel-optimized-pytorch"
        org.opencontainers.image.title: "Intel® Extension for PyTorch Base Image"
        org.opencontainers.image.version: ${IPEX_VERSION:-2.8.0}-${PACKAGE_OPTION:-pip}-base
      target: ipex-base-${PACKAGE_OPTION:-pip}
    command: >
      sh -c "python -c 'import torch; import intel_extension_for_pytorch as ipex; print(\"torch:\", torch.__version__, \" ipex:\",ipex.__version__)'"
    depends_on:
      - ${PACKAGE_OPTION:-pip}
    image: ${REGISTRY}/${REPO}:b-${GITHUB_RUN_NUMBER:-0}-${BASE_IMAGE_NAME:-ubuntu}-${BASE_IMAGE_TAG:-22.04}-${PACKAGE_OPTION:-pip}-py${PYTHON_VERSION:-3.11}-ipex-${IPEX_VERSION:-2.8.0}-base
    pull_policy: always
  jupyter:
    build:
      labels:
        dependency.python.pip: jupyter-requirements.txt
        org.opencontainers.base.name: "intel/intel-optimized-pytorch:${IPEX_VERSION:-2.8.0}-${PACKAGE_OPTION:-pip}-base"
        org.opencontainers.image.title: "Intel® Extension for PyTorch Jupyter Image"
        org.opencontainers.image.version: ${IPEX_VERSION:-2.8.0}-${PACKAGE_OPTION:-pip}-jupyter
      target: jupyter
    command: >
      bash -c "python -m jupyter --version"
    environment:
      http_proxy: ${http_proxy}
      https_proxy: ${https_proxy}
    extends: ipex-base
    image: ${REGISTRY}/${REPO}:b-${GITHUB_RUN_NUMBER:-0}-${BASE_IMAGE_NAME:-ubuntu}-${BASE_IMAGE_TAG:-22.04}-${PACKAGE_OPTION:-pip}-py${PYTHON_VERSION:-3.11}-ipex-${IPEX_VERSION:-2.8.0}-jupyter
    network_mode: host
    ports:
      - 8888:8888
  ipex-xpu-base:
    build:
      args:
        PACKAGE_OPTION: ${PACKAGE_OPTION:-pip}
        PYTHON_BASE: ${REGISTRY}/${REPO}:b-${GITHUB_RUN_NUMBER:-0}-${BASE_IMAGE_NAME:-ubuntu}-${BASE_IMAGE_TAG:-22.04}-${PACKAGE_OPTION:-pip}-py${PYTHON_VERSION:-3.11}-xpu-base
      labels:
        dependency.idp.pip: false
        org.opencontainers.base.name: "intel/python:3.11-full"
        org.opencontainers.image.title: "Intel® Extension for PyTorch XPU Base Image"
        org.opencontainers.image.version: ${IPEX_VERSION:-2.8.10}-xpu-${PACKAGE_OPTION:-pip}-base
      target: ipex-xpu-base-wheels
    command: >
      python -c "import torch;print(torch.device('xpu'));import
      intel_extension_for_pytorch as
      ipex;print(torch.xpu.has_xpu());print(torch.__version__);
      print(ipex.__version__); [print(f'[{i}]:
      {torch.xpu.get_device_properties(i)}') for i in
      range(torch.xpu.device_count())];"
    extends: ipex-base
    depends_on:
      - xpu
    image: ${REGISTRY}/${REPO}:b-${GITHUB_RUN_NUMBER:-0}-${BASE_IMAGE_NAME:-ubuntu}-${BASE_IMAGE_TAG:-22.04}-${PACKAGE_OPTION:-pip}-py${PYTHON_VERSION:-3.11}-ipex-${IPEX_VERSION:-2.8.10}-xpu-base
  xpu-jupyter:
    build:
      labels:
        dependency.python.pip: jupyter-requirements.txt
        org.opencontainers.base.name: "intel/intel-optimized-pytorch:${IPEX_VERSION:-2.6.10}-xpu-${PACKAGE_OPTION:-pip}-base"
        org.opencontainers.image.title: "Intel® Extension for PyTorch XPU Jupyter Image"
        org.opencontainers.image.version: ${IPEX_VERSION:-2.8.10}-xpu-${PACKAGE_OPTION:-pip}-jupyter
      target: ipex-xpu-jupyter
    command: >
      bash -c "python -m jupyter --version"
    extends: ipex-xpu-base
    image: ${REGISTRY}/${REPO}:b-${GITHUB_RUN_NUMBER:-0}-${BASE_IMAGE_NAME:-ubuntu}-${BASE_IMAGE_TAG:-22.04}-${PACKAGE_OPTION:-pip}-py${PYTHON_VERSION:-3.11}-ipex-${IPEX_VERSION:-2.8.10}-xpu-jupyter
    ports:
      - 8888:8888
  torchserve-cpu:
    build:
      args:
        PACKAGE_OPTION: pip
        PYTHON_VERSION: ${PYTHON_VERSION:-3.11}
      labels:
        dependency.apt.numactl: true
        dependency.apt.openjdk-17-jdk: true
        dependency.idp: false
        dependency.python.ipex: requirements.txt
        dependency.python.pip: serving/torchserve-cpu-requirements.txt
        docs: serving
        org.opencontainers.base.name: "intel/python:3.11-full"
        org.opencontainers.image.title: "Intel® Extension for PyTorch Serving Image"
        org.opencontainers.image.version: ${IPEX_VERSION:-2.8.0}-serving-cpu
      target: torchserve-cpu
    command: torchserve --version
    entrypoint: ""
    extends: ipex-base
    image: ${REGISTRY}/${REPO}:b-${GITHUB_RUN_NUMBER:-0}-${BASE_IMAGE_NAME:-ubuntu}-${BASE_IMAGE_TAG:-22.04}-py${PYTHON_VERSION:-3.11}-torchserve-cpu
    ports:
      - 8080:8080
      - 8081:8081
      - 8082:8082
      - 7070:7070
      - 7071:7071
  torchserve-xpu:
    build:
      args:
        PACKAGE_OPTION: pip
        PYTHON_BASE: ${REGISTRY}/${REPO}:b-${GITHUB_RUN_NUMBER:-0}-${BASE_IMAGE_NAME:-ubuntu}-${BASE_IMAGE_TAG:-22.04}-${PACKAGE_OPTION:-pip}-py${PYTHON_VERSION:-3.11}-xpu-base
      labels:
        dependency.apt.numactl: true
        dependency.apt.openjdk-17-jdk: true
        dependency.idp: false
        dependency.python.pip: serving/torchserve-xpu-requirements.txt
        dependency.python.pip-ipex: serving/ipex-xpu-requirements.txt
        docs: serving
        org.opencontainers.base.name: "intel/python:3.11-full"
        org.opencontainers.image.title: "Intel® Extension for PyTorch XPU Serving Image"
        org.opencontainers.image.version: ${IPEX_VERSION:-2.8.10}-serving-xpu
      target: torchserve-xpu
    command: torchserve --version
    entrypoint: ""
    extends: ipex-xpu-base
    image: ${REGISTRY}/${REPO}:b-${GITHUB_RUN_NUMBER:-0}-${BASE_IMAGE_NAME:-ubuntu}-${BASE_IMAGE_TAG:-22.04}-py${PYTHON_VERSION:-3.11}-ipex-${IPEX_VERSION:-2.8.10}-torchserve-xpu
