accelerate==0.34.2
datasets==3.0.0
einops==0.8.0
evaluate==0.4.3
onnxruntime-extensions==0.12.0
onnxruntime==1.19.2
peft==0.12.0
protobuf==5.28.2
py-cpuinfo==9.0.0
scikit-learn==1.5.2
SentencePiece==0.2.0
tokenizers==0.20.0
transformers==4.44.2
