intel_extension_for_pytorch==2.8.10+xpu
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/cn
jinja2>=3.1.5
certifi>=2023.7.22
idna>=3.7
requests>=2.31.0
urllib3>=2.0.6
setuptools>=78.1.1
