torch==2.8.0+cpu
torchvision==0.23.0+cpu
torchaudio==2.8.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
intel_extension_for_pytorch==2.8.0+cpu
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/cn/
