torch==2.5.0+cpu
torchvision==0.20.0+cpu
torchaudio==2.5.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
intel_extension_for_pytorch==2.5.0+cpu
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/us/
