--index-url https://download.pytorch.org/whl/test/xpu
--extra-index-url https://download.pytorch.org/whl/nightly/xpu

torch==2.8.0.dev20250618
torchvision==0.23.0.dev20250618+xpu
torchaudio==2.8.0.dev20250618+xpu
numpy>=1.26.4
idna>=3.7
requests>=2.32.0
tqdm>=4.66.3
urllib3>=2.2.2
