torch==2.4.0
torchvision==0.19.0
torchaudio==2.4.0
intel_extension_for_pytorch==2.3.100+cpu
oneccl_bind_pt==2.3.0+cpu
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us
setuptools==71.1.0
