SentencePiece==0.2.0
accelerate==0.34.2
datasets==2.21.0
einops==0.8.0
evaluate==0.4.2
mkl-include==2024.2.1
mkl==2024.2.1
onnxruntime-extensions==0.12.0
onnxruntime==1.19.2
peft==0.12.0
protobuf==5.28.0
psutil==6.0.0
py-cpuinfo==9.0.0
tokenizers==0.20.0
