## provide the new path containing these host keys
HostKey ~/.ssh/ssh_host_rsa_key
HostKey ~/.ssh/ssh_host_ecdsa_key
HostKey ~/.ssh/ssh_host_ed25519_key
## Enable DEBUG log. You can ignore this but this may help you debug any issue while enabling SSHD for the first time
LogLevel DEBUG3
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no
## Provide a path to store PID file which is accessible by normal user for write purpose
PidFile ~/.ssh/sshd.pid
AcceptEnv LANG LC_*
Subsystem       sftp    /usr/lib/openssh/sftp-server
UsePrivilegeSeparation no
