captum
cython
pynvml
pyyaml
-f https://download.pytorch.org/whl/torch_stable.html
torch==2.1.0+cpu
torch-model-archiver
torch-workflow-archiver
torchaudio==2.1.0+cpu
torchserve
torchtext==0.16.0+cpu
torchvision==0.16.0+cpu
-f https://developer.intel.com/ipex-whl-stable-cpu
intel_extension_for_pytorch==2.1.0+cpu