captum>=0.7.0
cython>=3.0.10
pynvml>=11.5.0
pyyaml>=6.0.1
-f https://download.pytorch.org/whl/torch_stable.html
torch-model-archiver==0.11.1
torch-workflow-archiver==0.2.14
torchserve==0.11.1
torchtext==0.18.0
torchvision==0.19.0
-f https://pytorch-extension.intel.com/release-whl/stable/cpu/us/
intel_extension_for_pytorch==2.4.0+cpu
