torch==2.3.1+cxx11.abi
torchvision==0.18.1+cxx11.abi
torchaudio==2.3.1+cxx11.abi
intel_extension_for_pytorch==2.3.110+xpu
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/xpu/us
numpy==2.1.1
captum>=0.7.0
cython>=3.0.10
pynvml>=11.5.0
pyyaml>=6.0.1
-f https://download.pytorch.org/whl/torch_stable.html
torch-model-archiver==0.12.0
torch-workflow-archiver==0.2.15
torchserve==0.12.0
