black>=26.5.1
coverage>=7.16.0
coveralls>=4.1.0
expandvars>=1.1.2
hypothesis>=6.167.1
pydantic==2.13.5
pylint>=4.0.8
pytest>=9.1.1
python_on_whales>=0.81.0
pyyaml>=6.0.3
shfmt-py>=4.1.0
tabulate>=0.10.0
tox>=4.61.2
