# LLM Packages
# deepspeed @ git+https://github.com/HabanaAI/DeepSpeed.git@1.20.1

# Datascience and useful extensions
kafka-python~=2.2.11
matplotlib~=3.9.4
pandas~=2.3.0
plotly~=6.1.2
scikit-learn
scipy~=1.13.1
skl2onnx~=1.19.1
codeflare-sdk~=0.27.0

# DB connectors
pymongo~=4.12.1
psycopg~=3.2.9
pyodbc~=5.2.0
mysql-connector-python~=9.3.0

# JupyterLab packages
jupyterlab==4.4.3
jupyter-bokeh~=4.0.5
jupyter-server~=2.16.0
jupyter-server-proxy~=4.4.0
jupyter-server-terminals~=0.5.3
jupyterlab-git~=0.51.1
jupyterlab-lsp~=5.1.1
jupyterlab-widgets~=3.0.15
jupyter-resource-usage~=1.1.1
nbdime~=4.0.2
nbgitpuller~=1.2.2
notebook

# pycodestyle is dependency of below packages
# and to achieve compatible of pycodestyle with python-lsp-server[all]
# pinned the below packages
autopep8>=1.5.0
flake8~=7.2.0
# Base packages
wheel~=0.45.1
setuptools>=70.0.0
pip>=23.3
aiohttp==3.12.11
