SentencePiece==0.2.0
accelerate==0.30.1
datasets==2.19.0
einops==0.7.0
evaluate==0.4.2
mkl-include==2023.2.0
mkl==2023.2.0
nltk==3.8.1
onnxruntime-extensions==0.10.1
onnxruntime==1.17.3
peft==0.11.1
protobuf==4.24.4
psutil==5.9.5
py-cpuinfo==9.0.0
rouge_score==0.1.2
tokenizers==0.19.1
