# TensorFlow Serving on Intel GPU

{{ template "chart.description" . }}

{{ template "chart.versionBadge" . }}{{ template "chart.typeBadge" . }}{{ template "chart.appVersionBadge" . }}

## Installation

```bash
helm repo add intel https://intel.github.io/helm-charts
helm install my-tgi intel/text-generation-inference
```

Then, follow the installation notes to test the deployment

{{ template "chart.valuesSection" . }}

{{ template "helm-docs.versionFooter" . }}
